*{ 
  margin: 0;
  padding:  0; 
  box-sizing: border-box;
}  
.header,.footer { 
  height: 85px; 
  display: flex;  
  align-items: center; 
  background-color:#0d4faf ;
} 
.header__container, .footer__container{  
  padding: 15px 120px;
  height:  100%;  
  width: 100%;
  display: flex; 
   justify-content: space-between; 
   align-items:center;
} 
.logo{ 
  height: 60px;
} 
.header__item a, .header__auth a { 
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 0;
  text-decoration: none;
  text-transform: uppercase;
}   
.main{
  height: 100vh;
}
.main__container{ 
    height: 100%;  
    padding: 80px 25% ;
} 
.main__item {
  height: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center;
}
.main__title{ 
  font-weight: 900; 
  color: black;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
}
.main__subtitle{ 
  font-weight: 600; 
  color: black;
  font-size: 20px;
  text-decoration: none;
}  
.footer__contact{ 
  color: #fff;
  font-size: 12px;
  text-decoration: none;

}